<form action="/create" method="post">
    <h2>Create Todos</h2>

    <div class="input-field">
        <input type="text" name="title">
    </div>

    <button type="submit" class="btn">Create</button>
</form>